work/
transcript
sw/build/*
sw/apps/CMakeFiles/*
vsim/work/*
modelsim/
synth/
cfi jump label gen/Pseudo Code.docx
tb/tb_new_shadow.vhd
tb/tb_check_pla.vhd
rtl/aftab_datapath/aftab_cfi/tb_check_pla.vhd
rtl/aftab_datapath/aftab_cfi/tb_new_shadow.vhd
doc/aftab_datapath.pdf.docx

synthesis and comparison/base device.jpg
synthesis and comparison/device.jpg
synthesis and comparison/resource-aftab.jpg
synthesis and comparison/resource-aftab_pla.jpg
synthesis and comparison/resource-aftab_pla2.jpg
synthesis and comparison/resource-aftab_pla3.jpg
