work/
transcript
sw/build/*
sw/apps/CMakeFiles/*
vsim/work/*
modelsim/
synth/
cfi jump label gen/Pseudo Code.docx
tb/tb_new_shadow.vhd
tb/tb_check_pla.vhd
rtl/aftab_datapath/aftab_cfi/tb_check_pla.vhd
rtl/aftab_datapath/aftab_cfi/tb_new_shadow.vhd
doc/aftab_datapath.pdf.docx
synth_comp/base device.jpg
synth_comp/device.jpg
synth_comp/resource-aftab.jpg
synth_comp/resource-aftab_2.jpg
synth_comp/resource-aftab_pla.jpg
synth_comp/resource-aftab_pla3.jpg
synth_comp/resource-aftab_pla2.jpg
synth_comp/timing.jpg
